<div style="margin: 20px;">
    <h4>Catálogo de Autos</h4>
    
    <h5>Alta de Autos</h5>

    <div class="col-sm-4">
        <p>
            <label>Nombre: </label>
            <input type="text" class="form-control" [(ngModel)]="auto.nombre" />
        </p>
        <p>
            <label>Año: </label>
            <input type="number" class="form-control" [(ngModel)]="auto.anio" />
        </p>
        <p>
            <label>Precio: </label>
            <input type="text" class="form-control" [(ngModel)]="auto.precio" />
        </p>
        <p>
            <label>Descripción: </label>
            <input type="text" class="form-control" [(ngModel)]="auto.descripcion" />
        </p>
        <p>
            <label>Marca: </label>
            <select class="form-control" [(ngModel)]="auto.marcaId">
                @for (marca of marcas; track marca.id) {
                    <option [value]="marca.id">{{ marca.nombre }}</option>
                }
            </select>
        </p>
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" (click)="insertarAuto()">Insertar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="updateAuto()">Modificar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteAuto()">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
    <hr/>
    <div class="row mb-3">
        <div class="col-sm-4">
            <label>Filtrar por Marca: </label>
            <select class="form-control" [(ngModel)]="marcaFiltroId" (change)="filtrarAutos()">
    
                @for (marca of marcas; track marca.id) {
                    <option [value]="marca.id">{{ marca.nombre }}</option>
                }
            </select>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-secondary" (click)="marcaFiltroId = null; filtrarAutos()">Eliminar Filtro</button>
        </div>
    </div>
    <hr />
    <p></p>
    <hr />
    <p></p>
    <h4>Listado de Autos</h4>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Año</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Seleccionar</th>
        </thead>
        <tbody>
            @for (auto of autosFiltrados; track auto.id) {
                <tr>
                    <td>{{ auto.nombre }}</td>
                    <td>{{ auto.anio }}</td>
                    <td>{{ auto.precio }}</td>
                    <td>{{ auto.descripcion }}</td>
                    <td>{{ auto.marcaNombre }}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="selectAuto(auto)">Seleccionar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>